{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'auctions:index' %}">Auctions</a></li>
    <li class="breadcrumb-item active"><a
            href="{% url 'auctions:detail' pk=auction.pk %}">{{ auction.product_id.title }}</a></li>
{% endblock %}

{% block content %}

    <legend><h1>{{ auction.product_id }}</h1></legend>
    <br>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary bi bi-plus" href="{% url 'auctions:edit' pk=auction.pk %}">Edit</a>
    </div>
    <p>Starts at: <strong> {{ auction.time_starting }}</strong></p>
    <p>Ends at: <strong> {{ auction.time_ending }}</strong></p>
    <br>
    <p><strong id="error_message">
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </strong></p>
    <br>

    <input id="auction-id" type="number" hidden value="{{ auction.id }}">
    <label for="auction-bids">Number of bids:</label>
    <input id="auction-bids" type="number" disabled value="{{ auction.bids }}">
    <input id="auction-bid-submit" class="btn btn-primary" type="submit" value="Bid">

    <script>
        const auctionId = JSON.parse(document.getElementById('auction-id').value);

        const auctionSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/auction/'
            + auctionId
            + '/'
        );

        auctionSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data['error_message']) {
                document.querySelector('#error_message').textContent = data['error_message'];
            } else if (data['bids']) {
                document.querySelector('#auction-bids').value = data['bids'];
            }
        };

        auctionSocket.onclose = function (e) {
            console.error('Auction socket closed unexpectedly');
        };

        document.querySelector('#auction-bid-submit').onclick = function (e) {
            auctionSocket.send(JSON.stringify({}));
        };
    </script>

{% endblock %}