{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'auctions:index' %}">Auctions</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'auctions:detail' pk=auction.pk %}">{{ auction.product_id.title }}</a></li>
{% endblock %}

{% block content %}

    <legend><h1>{{ auction.product_id }}</h1></legend>
    <br>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary bi bi-plus" href="{% url 'auctions:edit' pk=auction.pk %}">Edit</a>
    </div>
    <p>Starts at: <strong> {{ auction.time_starting }}</strong></p>
    <p>Ends at: <strong> {{ auction.time_ending }}</strong></p>
    <br>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <br>

    <form action="{% url 'auctions:bid' auction.id %}" method="post">
        <div class="form-group">
            {% csrf_token %}

            <label for="{{ auction.id }}-bids">Number of bids:</label>
            <input id="{{ auction.id }}-bids" type="number" disabled value="{{ auction.bids }}">
        </div>
        <input class="btn btn-primary" type="submit" value="Bid">
    </form>

{% endblock %}