{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'product_groups:index' %}">Product Groups</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'product_groups:create' %}">Create</a></li>
{% endblock %}

{% block content %}
    <legend><h1>New Product Group</h1></legend>
    <br>
    <div class="row align-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7">
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}