{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Products</a></li>
{% endblock %}

{% block content %}
    <h1>Latest Products</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="{% url 'products:create' %}">
            <i class="bi bi-plus"></i>
            New
        </a>
    </div>

    <ul class="nav nav-tabs mb-3">
        {% with request.GET.product_group as selected %}
            <li class="nav-item">
                <a class="nav-link {% if not selected %} active {% endif %}"
                        {% if not selected %} aria-current="page" {% endif %}
                   href="{% url 'products:index' %}">All</a>
            </li>

            {% for product_group in product_groups %}
                <li class="nav-item">
                    <a class="nav-link {% if selected == product_group %} active {% endif %}"
                            {% if selected == product_group %} aria-current="page" {% endif %}
                       href="{% url 'products:index' %}?product_group={{ product_group | urlencode }}">{{ product_group }}</a>
                </li>
            {% endfor %}
        {% endwith %}

    </ul>

    <br>
    {% if product_list %}
        <div class="list-group">
            {% for product in product_list %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   href="{% url 'products:detail' product.id %}">
                    {{ product }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No products are available.</p>
    {% endif %}

{% endblock %}