{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'products:index' %}">Products</a></li>
{% endblock %}

{% block content %}
    <h1>Latest Products</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="{% url 'products:create' %}">
            <i class="bi bi-plus"></i>
            New
        </a>
    </div>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if True %} active {% endif %}" {% if True %} aria-current="page" {% endif %}
               href="{% url 'products:index'%}">All</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if True %} active {% endif %}" {% if True %} aria-current="page" {% endif %}
               href="{% url 'products:index'%}?product_group={{ 'Fruits' | urlencode }}">Fruits</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if True %} active {% endif %}" {% if True %} aria-current="page" {% endif %}
               href="{% url 'products:index'%}?product_group={{ 'Vegetables' | urlencode }}">Vegetables</a>
        </li>
    </ul>

    <br>
    {% if product_list %}
        <div class="list-group">
            {% for product in product_list %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   href="{% url 'products:detail' product.id %}">
                    {{ product }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No products are available.</p>
    {% endif %}

{% endblock %}